@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h2 class="display-4">YÖNETİM PANELİ</h2>
    <a class="btn btn-l btn-success m-2" asp-controller="Appointments" asp-action="Index">Randevular</a>
    <a class="btn btn-l btn-primary m-2" asp-controller="Locations" asp-action="Index">Şubeler</a>
    <a class="btn btn-l btn-info m-2" asp-controller="Employees" asp-action="Index">Personeller</a>
    <a class="btn btn-l btn-warning m-2" asp-controller="Services" asp-action="Index">Hizmetler</a>
    <a class="btn btn-l btn-secondary m-2" asp-controller="GPT" asp-action="Index">GPT Saç Modeli</a>
</div>
