@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Locations" asp-action="Index">Şubeler</a>
    <a asp-area="" asp-controller="Services" asp-action="Index">Hizmetler</a>
    <a asp-area="" asp-controller="Employees" asp-action="Index">Çalışanlar</a>
    <a asp-area="" asp-controller="Appointments" asp-action="Index">Randevular</a>
</div>
