@model HairdresserApp.Models.Employee
@{
	ViewData["Title"] = "Çalışan Sil";
}

<h3>Çalışan Sil</h3>

<p>@Model.FirstName @Model.LastName isimli çalışanı silmek istediğinize emin misiniz?</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class="btn btn-danger" value="Delete"/>
	<a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>