@model HairdresserApp.Models.Service
@{
	ViewData["Title"] = "Hizmet Ekle";
}

<h3>Hizmet Ekle</h3>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
	</div>
	<div class="form-group">
		<label for="Price">Price</label>
		<input type="number" class="form-control" asp-for="Price" />
	</div>
	<div class="form-group">
		<label for="ProcessTimeInMinutes">Process Time In Minutes</label>
		<input type="number" class="form-control" asp-for="ProcessTimeInMinutes" min="30" step="30" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>