@model HairdresserApp.Models.Appointment
@{
	ViewData["Title"] = "Randevu Onayla";
}

<br />
<h3>RANDEVU ONAYLA</h3>
<br />

<p>@Model.AppointmentDate tarihindeki randevuyu onaylamak veya onayı iptal etmek istediğinize emin misiniz?</p>

<form asp-action="Confirmation" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class="btn btn-primary" value="Onay / Onay İptal" />
	<a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>