@model HairdresserApp.Models.Appointment
@{
	ViewData["Title"] = "Randevu Sil";
}

<br />
<h3>RANDEVU SİL</h3>
<br />

<p>@Model.AppointmentDate tarihindeki randevuyu silmek istediğinize emin misiniz?</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class="btn btn-danger" value="Sil"/>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" class="btn btn-primary">İptal</a>
    }
    else
    {
        <a asp-action="MyAppointments" class="btn btn-primary">İptal</a>
    }
</form>