@model HairdresserApp.Models.Location
@{
	ViewData["Title"] = "Şube Sil";
}

<br />
<h3>ŞUBE SİL</h3>
<br />

<p>@Model.Address adresindeki @Model.Name şubenizi silmek istediğinize emin misiniz? 
	Şube silindiğinde şubeye bağlı çalışanlar şubesiz kalacaktır.</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" class="btn btn-danger" value="Sil"/>
	<a asp-action="Index" class="btn btn-primary">İptal</a>
</form>