@model HairdresserApp.Models.Location
@{
	ViewData["Title"] = "Şube Düzenle";
}

<br />
<h3>ŞUBE DÜZENLE</h3>
<br />

<form asp-action="Edit" method="post">
	<div class="form-group mb-2">
		<label for="Name">Açıklama</label>
		<input type="text" class="form-control" asp-for="Name" />
	</div>
	<div class="form-group mb-2">
		<label for="Address">Adres</label>
		<input type="text" class="form-control" asp-for="Address" />
	</div>
	<div class="form-group mb-2">
		<label for="OpeningTime">Açılış Saati</label>
		<input type="time" class="form-control" asp-for="OpeningTime" step="1800" />
	</div>
	<div class="form-group mb-3">
		<label for="ClosingTime">Kapanış Saati</label>
		<input type="time" class="form-control" asp-for="ClosingTime" step="1800" />
	</div>
	<button type="submit" class="btn btn-primary">Düzenle</button>
	<a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>